$primary: #5d6272 !default;
$secondary: #686e80;
$danger: #7c8a9c;
$success: #a69888;
$white: #ffffff;

@import 'bootstrap/scss/bootstrap';

.App {
  text-align: center;
  background-color: $white;
  // background-image: url('./images/piano');
}

.App-logo {
  animation: App-logo-spin 5s linear 1s infinite alternate;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(30deg);
  }
}

.openlogo {
  animation: move 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s 1 both;
  z-index: 10;
}

@keyframes move {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2) translate(0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1) translate(0, -100px);
    opacity: 1;
  }
}

.input-animation {
  border: 0px solid $primary;
  animation: moveit 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) 5s both;
}

@keyframes moveit {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    // -webkit-transform-origin: 100% 0%;
    // transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    // -webkit-transform-origin: 100% 0%;
    // transform-origin: 100% 0%;
    opacity: 1;
  }
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.custom-control {
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

.navborder {
  height: 7vh;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  position: absolute;
}

.Spaces {
  background-color: $white;
  height: 100vh;
}

.navSearch {
  height: 10vh;
  padding: 10px 20vw;
  background-color: $white;
  z-index: 10;
}

.googleMaps {
  height: 90vh;
  // margin-top: 120px;
}

.spaceDescription {
  background-color: $white;
  height: 100vh;
  z-index: 5;
  // width: 40%;
}

@media (min-width: 768px) {
  .googleMaps {
    height: 90vh;
    position: relative;
    // margin-top: 120px;
  }
  .spaceDescription {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    height: 90vh;
    z-index: 5;
    width: 40%;
  }
}

.new-product {
  max-width: 1000px;
  border: 10px solid $danger;
  border-radius: 20px;
  padding: 5% 5%;
}

.spaceCard {
  min-height: 150px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 10px;
  margin: 20px;
  margin-bottom: 40px;
}
