$primary: #5d6272 !default;
$secondary: #686e80;
$danger: #7c8a9c;
$success: #a69888;
$white: #ffffff;

@import 'bootstrap/scss/bootstrap';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin 5s linear 1s infinite alternate;
  height: 80px;
}

.App-header a {
  padding: 0 5px;
  color: $warning;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(30deg);
  }
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.custom-control {
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

.navborder {
  border: 1px solid $warning;
  height: 7vh;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  position: absolute;
}

.Spaces {
  background-color: $white;
  height: 100vh;
}

.navSearch {
  height: 10vh;
  padding: 10px 20vw;
  background-color: $white;
}

.googleMaps {
  height: 90vh;
  position: relative;
}

.spaceDescription {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white;
  height: 90vh;
  z-index: 5;
  width: 40%;
}
